@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700|Shadows+Into+Light+Two:100,200,300,400,500,600,700');

/*------------------------------------------------------------------Colours--*/

.bg-colour-bandname {
    /*background-color: #f90f1b;*/
    /*background-color: #8b0000;*/
    background-color: #9f0000;
    /*background-color: #d32828;*/
}

.ul-menu-colour-band {
    background-color: #0078ff;
}

.ul-menu-colour-sounds {
    background-color: #f4a42a;
}

.ul-menu-colour-flicks {
    background-color: #0bae3f;
}

.ul-menu-colour-contact {
    background-color: #48d8cd;
}

/*-------------------------------------------------------------------Spacing--*/

h4 {
    margin: 0;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 300;
    padding-top: 10px;
}

.inline-block {
    display: inline-block;
}

.main-section {
    min-height: 450px;
}

/*-------------------------------------------------------------------Heading--*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}


.logo {
    background: url("../images/cover3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 362px;
    display: block;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bandname {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 100;
    font-size: 56px;
    margin-top: 50px;
    color: #ffffff;
    text-align: center; 
}

.banddescription {
    font-family: "Shadows Into Light Two", sans-serif;
    font-weight: 200;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 70px;
    color: #ffffff;
    text-align: center;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #ffffff;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------------------------------------------------------Hover.css--*/

.hvr-sweep-to-bottom:before {
    background: #9f0000;
    height: 120px;
}

/*-------------------------------------------------------------------Footer--*/

footer {
    background-color: #9f0000;
    color: #ffffff;
    min-height: 120px;
    margin: 0;
}

.footer-text {
    font-family: "Shadows Into Light Two", sans-serif;
    font-weight: 300;
    padding-top: 5px;
}

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #f4a42a;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #0078ff;
}

/*---------------------------------------------------Section - Upcoming Gigs--*/

.upcoming-gigs {
    margin: 0;
    font-family: "Luckiest Guy", sans-serif;
    color: #fafafa;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.upcoming-gigs-table {
    text-align: center;
    font-family: "Shadows Into Light Two", sans-serif;
    font-weight: 300;
    color: #fafafa;
    padding-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    /*min-height: 260px;*/
    min-height: 369px;
}

.upcoming-gigs-table th {
    text-align: center;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #f4a42a;
}

.upcoming-gigs-table th, td {
     padding-top: 10px;
}

/*------------------------------------------------------------Section - Main--*/

.main-background {
    background: url("../images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 341px;*/
    min-height: 450px;
    display: block;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

section {
    margin: 0;
}

.bandtitle {
    font-family: "Luckiest Guy", sans-serif;
    text-align: center;
    font-weight: 300;
    padding-top: 15px;
    /*padding-bottom: 25px;*/
    padding-bottom: 15px;
    color: #9f0000;
}

.form-cover {
    font-family: "Luckiest Guy", sans-serif;
    text-align: center;
    font-weight: 300;
    /*color: #f90f1b;*/
    /*color: #ffffff;*/
    color: #fafafa;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.center-video {
    margin: 0 auto;
    max-width: 75%;
}

video {
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    padding-bottom: 10px;
}

.content-message {
    margin: 0 auto;
    background-color: #e1e1e1;
    color: #000000;
    font-family: "Shadows Into Light Two", sans-serif;
    text-align: center;
    max-width: 50%;
}

.content-message-band {
    margin: 0 auto;
    background-color: #e1e1e1;
    color: #000000;
    font-family: "Shadows Into Light Two", sans-serif;
    text-align: center;
    max-width: 95%;
    margin-bottom: 15px;
    font-weight: 300;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #9f0000;
    color: #fafafa;
    font-family: "Luckiest Guy", sans-serif;
}
/*------------------------------------------------------------Image Gallery---*/

.gallery {
    /*margin-left: 15px;
    margin-top: 10px;*/
    margin: 10 auto;
    /*border: 1px solid #ccc;*/
    /*float: left;
    width: 200px;
    height: 200px;*/
    
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery-description {
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    font-family: "Shadows Into Light Two", sans-serif;
}
/*------------------------------------------------------------Media Queries---*/

/*------------------------------------------------------------Music player----*/

.music-table-div {
    margin: 0 auto;
    padding-top: 15px;
}

.music-table {
    margin: 0 auto;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 300;
    background-color: #9f0000;
    color: #e1e1e1;
}

.music-table td {
     padding: 2px 4px 2px;
     font-size: medium;
}
